body{background: url(Fondos-quimica.jpg);
    background-position: center center;
    background-attachment: fixed; }
.fisica{background: url(fondo-fisica.jpg);
    background-position: center center;
    background-attachment: fixed;}
.biologia{background: url(fondos-biologia.jpg);
    background-position: center center;
    background-attachment: fixed;}
.referencias{background: url(Referencias.png);
    background-position: center center;
    background-attachment: fixed;}
.datos{
    background:black;
    background-position: center center;
    background-attachment: fixed;
}
h1{
    font-size: 48pt;
    background:#F7DC6F;
    border-style: inset;
    color: orangered;
    font-family: serif;
    text-align: center;}
h2{
    font-size: 26pt;
    background:#F7DC6F;
    border-style: dashed;
    color: orangered;
    font-family: serif;
    text-align: center;}
.indice{
    height: auto;
    width: auto;
    font-size: 18pt;
    background: black;
    border-style: dashed;
    color: #5B2C6F;
    font-family: serif;
    text-align: center;
}
h3{
    font-size: 16pt;
    background:#85929E;
    border-style: ridge;
    color: #283747;
    text-align: center;}
.indice3{
    height: auto;
    width: auto;
    font-size: pt;
    border-style: dashed;
    font-family: serif;
    text-align: center;}
div{
    height: 20px;
    width: 1200px;
    background: #A9CCE3;
    margin: 50px;
    padding: 20px;
    border: 5px ridge #2E4053;
    display:inline-block;
    border-style: double;
    position: relative;
    margin-right: auto;
    float:left;}
.especial{
    height: 400px;
    width: 900px;
    background: #F2D7D5;
    margin: 50px;
    padding: 20px;
    border: 5px ridge #2E4053;
    display:inline-block;
    border-style: double;
    position: relative;
    margin-right: auto;
    float:left;}
.dfisica{ height: 180px;
    width: 90px;
    background: #A9CCE3;
    margin: 50px;
    padding: 20px;
    border: 5px ridge #2E4053;
    display:inline-block;
    border-style: double;
    position:relative;
    margin-right: auto;
}
.inorganica{
    height: 450px;
    width: 540px;
    background: #52BE80;
    margin: 50px;
    padding: 20px;
    border: 5px ridge #2E4053;
    display:inline-block;
    border-style: double;
    position: relative;
    margin-right: auto;}
.inorganica2{
    height: auto;
    width: auto;
    background: #52BE80;
    margin: 50px;
    padding: 20px;
    border: 5px ridge #2E4053;
    display:inline-block;
    border-style: double;
    position: relative;
    margin-right: auto;}
.organica{
    height: 450px;
    width: 540px;
    background: #52BE80;
    margin: 50px;
    padding: 20px;
    border: 5px ridge #2E4053;
    display:inline-block;
    border-style: double;
    position: relative;
    margin-right: auto;}
.imagenes{
    background: #EDBB99;
    height: 220px;
    width: 135px;
    position: relative;
    margin-right: auto;
    margin: 0 auto;
    float:left;
    
}
table, th, td{
    height: 108px;
    width: 75px;
    border: 1px outside silver;
    border-collapse: collapse;}
.fuentes{
    height: auto;
    width: auto;
    background: #21618C;
    margin: auto;
    padding: inherit;
    border: 5px ridge #FDFEFE;
    display:inline-block;
    border-style: double;
    position:relative;
    margin-right:inherit;
    float:none;
    text-align: center;
}
.ramas{
    height: 360px;
    width: 300px;
    background: #27AE60;
    margin: 50px;
    padding: 20px;
    border: 5px ridge #F1C40F;
    display:inline-block;
    border-style: double;
    position: relative;
    margin-right: auto;
    float:left;
}

